<p style="color: green"><%= notice %></p>

<h1>Wards</h1>

<div id="wards">
  <% @wards.each do |ward| %>
    <div class="ward_cover">
      <p>
        区：<%= ward.name %>
      </p>
      <p>
        <%= link_to "この区を選択する", ward %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "新しく区を登録する", new_ward_path %>
